
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="m-demo__preview">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                @using (Html.BeginForm("Region", "Employee", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)


                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Gazzetted Day
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <a href="#" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air" onclick="OpenEmployeeEfileModal('@Url.Action("Create", "GazzettedDay")')">
                                        <span>
                                            <i class="la la-plus"></i>
                                            <span>Add</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="m-portlet__nav-item">
                                    <button class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air">
                                        <span>
                                            <span>Load Attendance</span>
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <label>Search:</label>
                                <input type="text" class="form-control" placeholder="">
                            </div>
                            <div class="col-lg-2" style="padding-top:14px;">
                                <button class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air">
                                    <span>
                                        <i class="fa fa-info"></i>
                                        <span>Search</span>
                                    </span>
                                </button>
                            </div>
                            
                        </div>
                        <div id="m_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="m_table_1" role="grid" aria-describedby="m_table_1_info" style="width: 992px;">
                                        <thead style="background-color:#28469c; color:#ffffff">
                                            <tr role="row">
                                                <th>ID</th>
                                                <th>Date From</th>
                                                <th>Date To</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr role="row">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
<script src="~/Content/VigorJs/Employee/_CreateOrUpdate.js"></script>