
@{
    ViewBag.Title = "Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
    <div class="m-demo__preview">


        <div class="m-portlet">

            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Statement
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">

                        <li class="m-portlet__nav-item">
                            <button class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air">
                                <span>
                                    <i class="la la-print"></i>
                                    <span>Print</span>
                                </span>
                            </button>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="m-portlet__body">
                <div class="row">


                    <div class="col-md-12">
                        <div class="form-group m-form__group row">
                            <div class="col-lg-2">
                                <label>From:</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-lg-2">
                                <label>To:</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-lg-2">
                                <label>Account:</label>
                                <div class="input-group">
                                    <input class="form-control" id="" name="" readonly="" type="text" value="">
                                    <div class="input-group-append">
                                        <input type="button" name="" class="btn btn-info" style="padding: 2px; width: 20px;" value="+">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" style="padding-top:20px">
                                <textarea class="form-control" cols="20" id="Detail" name="Detail" rows="2"></textarea>
                            </div>
                            <div class="col-lg-2">
                                <label>Report Type:</label>
                                <select class="form-control " data-val="true" data-val-number="The field CityCode must be a number." data-val-required="This is Required field...." id="CityCode" name="CityCode">
                                    <option value="1"></option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

