
@{
    ViewBag.Title = "ShipmentsReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
    <div class="m-demo__preview">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Shipments
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <button class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air">
                                        <span>
                                            <i class="fa fa-print"></i>
                                            <span>Print</span>
                                        </span>
                                    </button>
                                </li>
                                <li class="m-portlet__nav-item">
                                    <a href="#" class="btn btn-warning m-btn m-btn--custom m-btn--icon m-btn--air">
                                        <span style=" color:#ffffff">
                                            <i class="flaticon-cancel"></i>
                                            <span>Cancel</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label>From:</label>
                                    <input class="form-control m-input" placeholder="" type="date" value="">
                                </div>
                                <div class="col-lg-3">
                                    <label>To:</label>
                                    <input class="form-control m-input" placeholder="" type="date" value="">
                                </div>

                                <div class="col-lg-3">
                                    <label>Department:</label>
                                    <select class="form-control " data-val="true" data-val-number="The field CityCode must be a number." data-val-required="This is Required field...." id="CityCode" name="CityCode">
                                        <option value="1"></option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label>Commodity Type:</label>
                                    <input class="form-control m-input" placeholder="" type="number" value="">
                                </div>
                                <div class="col-lg-3">
                                    <label>Commodity:</label>
                                    <input class="form-control m-input" placeholder="" type="number" value="">
                                </div>
                                <div class="col-lg-3">
                                    <label>Indent No:</label>
                                    <input class="form-control m-input" placeholder="" type="number" value="">
                                </div>
                                <div class="col-lg-3">
                                    <label>Indent Statuse:</label>
                                    <input class="form-control m-input" placeholder="" type="number" value="">
                                </div>
                                <div class="col-lg-3">
                                    <label>Indent Statuse:</label>
                                    <input class="form-control m-input" placeholder="" type="number" value="">
                                </div>
                                <div class="col-lg-3">
                                    <label>Marketing Person:</label>
                                    <div class="input-group">
                                        <input onkeydown="" class="form-control" id="det_0__Account_" name="det[0][Account]" readonly="readonly" type="text" value="">
                                        <div class="input-group-append">
                                            <input type="button" name="det[0][Accbtn]" class="btn btn-info" onclick="" style="padding: 2px; width: 20px;" value="+">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3" style="padding-top:20px;">
                                    <input class="form-control m-input" placeholder="" type="number" value="">
                                </div>
                                <div class="col-lg-3">
                                    <label>Seller:</label>
                                    <select class="form-control " data-val="true" data-val-number="The field CityCode must be a number." data-val-required="This is Required field...." id="CityCode" name="CityCode">
                                        <option value="1"></option>
                                    </select>
                                </div>

                                <div class="col-lg-3">
                                    <label>Buyer:</label>
                                    <select class="form-control " data-val="true" data-val-number="The field CityCode must be a number." data-val-required="This is Required field...." id="CityCode" name="CityCode">
                                        <option value="1"></option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label>Agent:</label>
                                    <select class="form-control " data-val="true" data-val-number="The field CityCode must be a number." data-val-required="This is Required field...." id="CityCode" name="CityCode">
                                        <option value="1"></option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label>Report Type:</label>
                                    <select class="form-control " data-val="true" data-val-number="The field CityCode must be a number." data-val-required="This is Required field...." id="CityCode" name="CityCode">
                                        <option value="1"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

