
@{
    Layout = null;
}
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content ">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Intimation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <div class="col-lg-3">
                    <label>Intimation NO:</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col-lg-3">
                    <label>ID:</label>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col-lg-3">
                    <label>Name:</label>
                    <input type="text" class="form-control m-input" placeholder="">

                </div>
                <div class="col-lg-3">
                    <label class="">Department:</label>
                    <input type="text" class="form-control m-input" placeholder="">
                </div>
                <div class="col-lg-3">
                    <label class="">Designation:</label>
                    <input type="text" class="form-control m-input" placeholder="">
                </div>
                <div class="col-lg-3">
                    <label class="">Date From:</label>
                    <input type="date" class="form-control m-input" placeholder="">
                </div>
                <div class="col-lg-3">
                    <label class="">Date To:</label>
                    <input type="date" class="form-control m-input" placeholder="">
                </div>
                <div class="col-lg-3">
                    <label class="">Type of Intimation:</label>
                    <select class="form-control " data-val="true" data-val-number="The field CustomerIDasSeller must be a number." data-val-required="The CustomerIDasSeller field is required." id="CustomerIDasSeller" name="CustomerIDasSeller">
                        <option></option>
                        <option></option>
                        <option></option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label class="">Reason:</label>
                    <textarea class="form-control" cols="20" data-val="true" data-val-maxlength="The field Delivery must be a string or array type with a maximum length of '200'." data-val-maxlength-max="200" rows="2"></textarea>
                </div>
                <div class="col-lg-3">
                    <label class="">Leave In Balance:</label>
                    <input type="number" class="form-control m-input" placeholder="">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" onclick="">
                <span>
                    <i class="fa fa-save"></i>
                    <span>Save</span>
                </span>
            </button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">
                <span>
                    <i class="flaticon-cancel"></i>
                    <span>Cancel</span>
                </span>
            </button>
        </div>
    </div>
</div>